body {
    background: url("../images/concert_image2.jpg"); 
    background-size: 100%; 
    text-align: center;
}

.container {
    margin-top: 20px;
}

.jumbotron {
    max-width: 700px;
    max-height: 100px;
    text-align: center;
    padding-top:10px;
    margin: 0 auto;
    border-radius: 25px;
    background: none;
    font-size: 25px;
    color: #83ff00;
    font-weight: bolder;
} 

.card {
    max-width: 1000px;
    border-radius: 25px;
    margin: auto;
    background: none;
    border: none;
    /* opacity: 0; */
  
}

.card-body {
    font-size: 22px;
    font-weight: bold;
    color: #83ff00;

}
  
button {
    font-family: 'Noto Sans', sans-serif;
    border: 2px solid #000;
    padding: 5px 20px;
}

